.container-menu {
    position: relative;
    width: 80%;
}
.container-menu .dropdown-menu-categorias .flex {
    gap: 10px;
}

.container-menu .dropdown-menu-categorias img {
    object-fit: contain;
}

.dropdown-menu-categorias .dropdown-departamentos-categorias{
    display: none;
    position: absolute;
    padding-top: 16px;
    top: 38px;
    left: 0;
    align-self: center;
    justify-content: space-between;
    width: fit-content;
    height: 179px;
    background: #fff;
    overflow: hidden;
}


.dropdown-menu>.flex .departamentos-categorias-2 {
    flex-direction: column;
    gap: 10px;
}

.dropdown-menu>.flex .departamentos-categorias-2 h3 {
    width: 100%;
    font-size: 16px;
    font-weight: 700;
}



.dropdown-menu-categorias:hover .dropdown-departamentos-categorias,
.dropdown-menu-categorias:hover .dropdown-menu {
    display: flex;
}

.dropdown-menu-categorias:hover>.flex>p,
.menu-categorias:hover>p {
    color: #005cff;
}

.dropdown-menu-categorias .dropdown-departamentos-categorias .departamentos-categorias .departamentos {
    flex-direction: column;
    width: 200px;
    padding: 20px;
    background: #f5f5f5;
}


.dropdown-menu-categorias .dropdown-departamentos-categorias .departamentos-categorias .departamento {
    display: flex;
    justify-content: space-between;
}

.departamento {
    font-size: 14px;
}

.departamento:hover p{
    color: #005cff;
    cursor: pointer;
}

@media (max-width:930px){
    .container-header .container-search>.flex>.container-menu{
        width: 200px;
        left: 50%;
        transform: translateX(-50%);
    }
    .dropdown-menu-categorias .dropdown-departamentos-categorias {
        padding-top: 30px;
    }
}